<html>
<head>
<title>
SFS and {{ myteam }} ROCK SO HARD!
</title>
</head>
<body>
<h1>{{ myteam }} App </h1>
<p>App is running on {{ ansible_hostname }} </p>
<p>This page was last deployed:<br />
{{ ansible_date_time.weekday }} {{ ansible_date_time.date }} {{ ansible_date_time.time }}</p>
</body>
</html>
